Source: node-snmp
Section: web
Priority: extra
Maintainer: Petr Běhan <behanp@bluepartners.cz>
Build-Depends: debhelper (>= 7.0.50~), nodejs-dev, libsnmp-dev
Standards-Version: 3.9.1
Homepage: https://github.com/huancz/node-snmp

Package: node-snmp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs, libsnmp15
Description: node binding for net-snmp library
 Issue GET/GETNEXT queries from your nodejs scripts.
